/* .row {
    display: flex;
    gap: 0px;
    height: 80px;
    justify-content: space-around;
    color: #c07d5c;
    background-color: rgba(0, 0, 0, 0.536);

    .cell {
        border: 1px solid #B55829;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
} */

table {
    table-layout: fixed;
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #B55829;
    background-color: rgba(0, 0, 0, 0.623);
}

.row td, .row th {
    color: #c07d5c;
    border-top: 1px solid #d76228;
    img {
        height: 72px;
    }
}